body{
background-color: pink;
}
.text{
  height: 150px;
  width: 50;
  text-align: center;
  color: green;
}
h1{
  color: black;
  height: 250px;

}
p{
  font-size: 50px;
  line-height: .4;
  padding: auto;
  text-align: justify;

}
span:hover{
  background-color: black;

}
